<div class="chat-container">
  <div class="chat-header">
    <h2>Чат с DeepSeek</h2>
    <div>
      <label>
        <input
          type="radio"
          name="mode"
          [checked]="mode() === 'book'"
          (change)="mode.set('book'); sendBookFirstMessage()"
        />
        Рекомендуй книги
      </label>

      <label>
        <input
          type="radio"
          name="mode"
          [checked]="mode() === 'json'"
          (change)="mode.set('json'); clearChat()"
        />
        Ответы в формате JSON
      </label>

      <label>
        <input
          type="radio"
          name="mode"
          [checked]="mode() === null"
          (change)="mode.set(null); clearChat()"
        />
        Обычный режим
      </label>

      <button (click)="clearChat()">Очистить</button>

      <div class="settings">
        <label style="margin-left: 16px;">
          Температура:
          <select [(ngModel)]="temperature" [disabled]="isLoading()">
            <option [ngValue]="0">0 (детерминированно)</option>
            <option [ngValue]="0.7">0.7 (уравновешенно)</option>
            <option [ngValue]="1.2">1.2 (креативно)</option>
            <option [ngValue]="2">2 (сходим с ума)</option>
          </select>
        </label>
        <label style="margin-left: 16px;">
          LLM:
          <select [(ngModel)]="model" [disabled]="isLoading()">
            <option [ngValue]="Model.DeepSeek_V3_2">DeepSeek 3.2V</option>
            <option [ngValue]="Model.Gemini_2_0_Flash">Gemini 2.0 Flash</option>
            <option [ngValue]="Model.Grok_4_Fast">Grok 4 Fast</option>
          </select>
        </label>
      </div>
    </div>
  </div>

  <div class="chat-messages">
    @for (msg of messages(); track msg;) {
      @if (msg.role === 'user' || msg.role === 'assistant') {
        <div class="message" [class.user]="msg.role === 'user'">
          <strong>{{ msg.role === 'user' ? 'Вы' : model() }}:</strong>
          @if (formatJson(msg.content); as json) {
            <pre class="json-response">{{ json }}</pre>
            @if (msg.usage && msg.timeOfResponse) {
              <p class="json-response usage">{{ JSON.stringify(msg.usage) }}</p>
              <p class="json-response time">{{ 'Время ответа в мс: ' + msg.timeOfResponse }}</p>
            }
          } @else {
            <p class="formatted-text">{{ msg.content }}</p>
            @if (msg.usage && msg.timeOfResponse) {
              <p class="json-response usage">{{ JSON.stringify(msg.usage) }}</p>
              <p class="json-response time">{{ 'Время ответа в мс: ' + msg.timeOfResponse }}</p>
            }
          }
        </div>
      }
    }

    @if (isLoading()) {
      <div class="message assistant">
        <strong>{{ model() }}:</strong>
        <p>Думает...</p>
      </div>
    }
  </div>

  <div class="chat-input">
        <textarea
          [(ngModel)]="userInput"
          placeholder="Введите сообщение..."
          (keydown.enter)="sendMessage(); $event.preventDefault()"
          [disabled]="isLoading()"
        ></textarea>
    <button
      (click)="sendMessage()"
      [disabled]="!userInput.trim() || isLoading()"
    >
      Отправить
    </button>
    <button
      (click)="sendSystemPromptMessage()"
      [disabled]="!userInput.trim() || isLoading()"
    >
      Изменить system prompt
    </button>
  </div>
</div>

@if (error()) {
  <div class="error">{{ error() }}</div>
}
